@import "tailwindcss";

@theme {
  --font-sans: "Geist", sans-serif;
  --color-base: #0A0A0A;
  --color-surface: #111111;
  --color-border: #3A3A3A;
  --color-text: #F5F5F5;
  --color-text-muted: #BDBDBD;
}

body {
  background-color: var(--color-base);
  color: var(--color-text);
  font-family: var(--font-sans);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0em;
  text-transform: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
